<div class="row">
    <div>
        <h1 class="well well-md col-md-10 col-md-offset-1 text-left">Organizing Committee</h1>
    </div>
</div>
<div class="col-lg-10 col-lg-offset-1 text-left" id="Organizers">
</div>
<div class="col-lg-10 col-lg-offset-1 text-left">
<p>Honorary member of the organizing committee:<br>
<strong>MR. Sulhi Turan</strong> – General Consul of the Republic of Turkey in Constanta, Romania</p>
<ul>
<li *ngFor="let organizer of organizers">
<pre>
<strong>{{organizer.name}}</strong> {{organizer.information}}
{{organizer.faculty}}
{{organizer.address}}   
{{organizer.email}}
</pre>
</li>
</ul>
</div>
