<div class="row">
	<div>
		<h1 class="well well-md col-md-10 col-md-offset-1 text-left">Practical Info</h1>
	</div>
</div>
<div class="col-lg-10 col-lg-offset-1 text-left" id="Committee">
</div>
<div class="col-lg-10 col-lg-offset-1 text-left">
    <ul>
        <li><a href="../../../assets/docs/Practical-Info.pdf">Practical Info</a></li>
        <li><a href="../../../assets/docs/Constanta-walking-tour.pdf">Constanta walking tour</a></li>
        <li><a href="../../../assets/docs/Trip-to-Visina.pdf">Trip to Vișina</a></li>
    </ul>
</div>